* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
    float: left;
    position: relative;
    color: pink;
}

.text {
    border: 3px solid slategray;
    background-color: whitesmoke;
}

h1 {
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: xx-large;
}

.title {
    font-size: xx-large;
    border: 3px solid gray;
    float: right;
}

#title1 {
    color: black;
    background-color: beige;
}

#title2 {
    background-color: maroon;
}

#title3 {
    background-color: brown;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
}